header {
  position: fixed; left: 0; top: 0; z-index: 2000;
  width: 100%; height: 50px;
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
}
.header_padding {
  width: 100%; height: 50px;
}
.header_wrap {
  width: 1060px; height: 100%;
  margin: 0 auto;
  display: flex; align-items: center; justify-content: space-between;
}
.header_logo_wrap {
  display: flex;
  align-items: center;
}
.category_ico {
  width: 17px; height: 14px;
  margin-top: -2px;
  margin-right: 15px;
  cursor: pointer;
}
.header_logo {
  height: 45px;
  cursor: pointer;
}
.header_menu_lists {
  display: flex;
}
.header_menu_list {
  padding: 15px;
  font-size: 13px; font-weight: 600;
  line-height: 20px; vertical-align: middle;
  cursor: pointer;
  color: #444444;
}
.header_menu_list:hover {
  box-shadow: inset 0 -2px #d6d6d6;
}
.header_menu_list.selected {
  box-shadow: inset 0 -2px #258bf7;
}
.header_menu_list.selected:hover {
  box-shadow: inset 0 -2px #d6d6d6;
}
.header_another_wrap {
  padding: 10px 0;
  display: flex; align-items: center;
}
.header_search_ico {
  width: 18px; height: 18px;
  margin: 0 10px;
  cursor: pointer;
}
.header_members_login {
  padding: 0 10px; margin-right: 6px;
  font-size: 13px; font-weight: 600;
  color: #333;
  line-height: 1.4;
  cursor: pointer;
}
.header_another_bar {
  width: 1px; height: 10px;
  background-color: #e1e2e3;
  margin: auto 10px;
}
.header_enterprise_service {
  font-size: 12px; font-weight: 400;
  color: #666; line-height: 30px;
  height: 30px;
  border: 1px solid #e1e2e3; border-radius: 15px;
  padding: 0 10px; margin-left: 15px;
}
.header_category_wrap {
  position: fixed; left: 0; top: 50px;
  width: 1060px; height: 100%;
  margin: 0 auto;
}
.header_category_box {
  width: 1060px; height: 100%;
  margin: 0 auto;
}
.header_category_main {
  width: 220px;
  background-color: white;
  border-left: 1px solid #f7f9fa;
  border-right: 1px solid #f7f9fa;
  /* 임시 */
  height: 100%;
}
.header_category_main_list {
  width: 180px; height: 40px;
  padding: 0 20px;
  display: flex; align-items: center;
  font-size: 13px; font-weight: 700;
  color: #333;
}
.header_category_freelancer {
  width: 180px; height: 50px;
  margin: 8px 20px;
  border-radius: 5px;
  background-color: #f5f7ff;
  display: flex; align-items: center;
  font-size: 13px; font-weight: 700;
  color: #36f;
  background: url("https://image.wanted.co.kr/gigs/www/wanted/gigs_banner_background_img.png");
  background-repeat: no-repeat;
  background-size: 180px 50px;
  cursor: pointer;
}
.header_category_freelancer>span {
  margin: 10px;
}
.header_category_main_list:hover {
  background-color: rgb(243, 243, 243);
  color: #36f;
  cursor: pointer;
}
.login_popup_bg {
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,.5);
  position: absolute;
}
.login_popup_main {
  width: 400px;
  background-color: white;
  position: absolute; top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 5px;
}
.login_popup_top_logo {
  width: 360px; height: 22px;
  padding: 16px 20px;
  color: #333;
  text-align: center;
  font-size: 16px; font-weight: 600;
  position: relative;
}
.login_popup_top_logo svg {
  position: absolute; right: 15px; top: 25%;
  cursor: pointer;
}
.login_popup_body {
  padding: 20px;
}
.login_popup_title_wrap {
  margin: 24px 0 40px;
  text-align: center;
}
.login_popup_title {
  line-height: 1.54;
  font-size: 25px; font-weight: 600;
  color: #333;
}
.login_popup_subtitle {
  margin-top: 16px;
  line-height: 1.5;
  font-size: 15px; font-weight: 400;
  color: #666;
}
.login_for_email_wrap {
  padding-bottom: 14px;
}
.login_for_email_label {
  font-size: 14px; font-weight: 400;
  color: #767676;
}
.login_for_email_input {
  margin-top: 11px; width: 360px;
  display: flex;
}
.login_for_email_input input {
  width: 328px; height: 50px;
  padding: 0 15px;
  border-radius: 5px;
  border: 1px solid #e1e2e3;
}
.login_for_email_input select {
  width: 360px; height: 50px;
  padding: 0 15px;
  border-radius: 5px; font-size: 15px;
  border: 1px solid #e1e2e3;

}
.login_for_email_select_ico {
  position: relative;
}
.login_for_email_select_ico::after {
  content: "›";
  position: absolute; right: 5px; top: -45px;
  width: 20px; height: 20px;
  font-size: 25px;
}
.login_for_email_input button {
  border-radius: 5px;
  background-color: #f2f4f7;
  font-weight: 700;
  color: #ccc;
  margin-left: 10px; padding: 16px 15px 14px;
  min-width: 117px;
}
.input_disabled {
  background-color: #f2f4f7;
}
.email_error_comment {
  color: #fe415c;
  margin-top: 6px;
  font-size: 12px;
  display: none;
}
.login_for_email_comment {
  margin-top: 6px;
  font-size: 12px;
  color: #767676;
}
.login_for_email_input.error input {
  border: 1px solid #fe415c;
}
.login_for_email_input.error .email_error_comment {
  display: block;
}
.login_for_email_input input:focus {
  border: 1px solid #046afe;
  outline: none;
}
.login_for_email_btn {
  cursor: pointer;
  display: flex; justify-content: center; align-items: center;
  width: 100%;height: 54px;
  border-radius: 27px;
  background-color: #36f;
  font-size: 16px; font-weight: 600;
  color: #fff;
}
.login_for_email_check input {
  cursor: pointer;
  width: 13px; height: 13px;
  appearance: auto;
  margin-right: 10px;
}
.login_for_email_check {
  color: #939393;
  font-size: 15px;
  padding-bottom: 14px;
}
.login_for_email_check.title {
  color: #333;
  border-bottom: 1px solid #ececec;
  margin-bottom: 15px;
}
.login_for_or {
  font-size: 14px; font-weight: 500;
  color: #969696;
  text-align: center;
  margin: 13px auto;
}
.login_for_other {
  text-align: center;
  color: #767676;
  margin-bottom: 17px;
  font-size: 14px;
}
.login_for_social_lists {
  width: 100%; height: 84px;
  display: flex;
}
.login_for_social_list {
  width: 25%; height: 100%;
  cursor: pointer;
}
.login_for_social_ico {
  width: 56px; height: 56px;
  margin: 0 auto 8px;
  border-radius: 28px;
  display: flex; justify-content: center; align-items: center;
}
.login_for_social_ico.kakao {
  background-color: #fee500;
}
.login_for_social_ico.facebook {
  background-color: #1877f2;
}
.login_for_social_ico.google {
  border: 1px solid #e1e2e3;
  background-color: #fff;
}
.login_for_social_ico.apple {
  background-color: rgb(0, 0, 0);
}
.login_for_social_name {
  text-align: center;
  font-size: 13px; font-weight: 500;
  color: #666;
}
.login_text {
  margin-top: 26px;
  text-align: center;
  font-size: 10px;
  line-height: 18px;
  color: #999;
}
.login_text span {
  color: #3336ff;
  text-decoration: underline;
}
.header_profile {
  width: 32px; height: 32px;
  border-radius: 50%;border: 1px solid #e1e2e3;
  cursor: pointer;
  position: relative;
}
.header_profile_img {
  width: 100%; height: 100%;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.my_mini_space_lists {
  position: absolute; left: -20px; top: 24px;
  width: 192px; height: 367px;
  background-color: #ffffff;
  padding-top: 14px;
  border-radius: 10px;
  border: 1px solid #cdcdcd;
  box-shadow: 1px 2px 10px 0 rgb(0 0 0 / 30%);
  position: relative;
  display: none;
}
.my_mini_space_lists.Active {
  display: block;
}
.my_mini_space_lists::after{
  position: absolute; left: 27px; top: -8px;
  content: "";
  width: 14px; height: 14px;
  border-top: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  background-color: #fff;
  transform: rotate(-55deg) skewX(-20deg);
}
.my_mini_space_list {
  padding: 8px; text-align: center;
  font-size: 14px; font-weight: 500;
  color: #333;
}
.my_mini_space_bar {
  width: 178px; height: 1px;
  margin: 9px 7px;
  background-color: #ececec;
}

.my_mini_space_logout {
  padding: 8px; text-align: center;
  font-size: 14px; font-weight: 500;
  color: #333;
}