@charset "utf-8";

/* 공통 */
@import url("/src/css/common.css");
/* 헤더 */
@import url("/src/css/header.css");
/* 푸터 */
@import url("/src/css/footer.css");


/* 슬라이드 */
@import url("/src/css/slide.css");
/* 섹션 */
@import url("/src/css/section.css");
/* 섹션 버튼 */
@import url("/src/css/section_btn.css");
/* 크리에이터 */
@import url("/src/css/creator.css");

/* ----------------------------------------------------------- */
.main_page {
  padding-top: 25px;
}
.main_page_wrap {
  width: 1060px;
  margin: 0 auto;
}
.employment_lists {
  border: 1px solid #ececec; border-radius: 4px;
  color: #333;
  display: flex;
  margin-top: 30px;
}
.employment_list {
  border-right: 1px solid #ececec;
  width: 25%; height: 100px;
}
.employment_list:last-child {
  border-right: none
}
.section_bar {
  width: 1060px; height: 1px;
  background-color: #ececec; margin: 0 auto;
}
.subscribe_promotion {
  width: 100%; height: 158px;
  padding: 60px 0;
  background-color: #f7f7f7;
}
.subscribe_promotion_wrap {
  width: 1060px;
  display: flex;
  justify-content: space-between; align-items: center;
  margin: 0 auto;
}
.subscribe_promotion_title {
  font-size: 30px; font-weight: 700;
  line-height: 1.42857143;
  color: #333333;
  display: flex; align-items: center;
}
.subscribe_promotion_title_svg {
  margin: 8px 4px 0 0;
}
.subscribe_promotion_title_svg svg {
  width: 160px; height: 31px;
}
.subscribe_promotion_comment {
  font-size: 14px;
    line-height: 1.42857143;
  color: #333333;
}
.subscribe_promotion_btn {
  width: 260px; height: 50px;
  margin-top: 25px; padding: 0 27px;
  color: #fff;
  background-color: #36f;
  border: none; border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}
.recommend_position_wrap {
  padding: 60px 0; width: 100%;
  background: #f4f8fb;
  background-image: url("https://wanted-dev.static.wanted.co.kr/banner/Jobsfeed_ai_banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.recommend_position_logo_wrap {
  padding-bottom: 40px;
  display: flex; justify-content: center;
  align-items: center;
}
.recommend_position_logo_img {
  width: 80px; height: 80px;
  position: relative;
  overflow: hidden;
}
.recommend_position_logo_img img {
  position: absolute; left: -35%; top: -45%;
  height: 139px;
}
.recommend_position_desc_img {
  width: 170px; height: 27px;
  margin-left: 20px;
}
.recommend_position__comment_wrap {
  display: flex; justify-content: center;
  margin-bottom: 10px;

  font-size: 22px;font-weight: 700;
  line-height: 1.05; color: #111;
}
.recommend_position__comment_sub {
  text-align: center;
  color: #555;
  font-size: 15px; font-weight: 500;
  line-height: 19.2px;
  margin-bottom: 20px;
}
.recommend_position__comment_btn {
  display: flex; justify-content: center;
}
.recommend_position__comment_btn button {
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #36f;
  font-size: 16px;
  font-weight: 700;
  color: #fefefe;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}
.section_banner {
  width: 100%;
  margin: 20px 0 60px;
  height: 150px;
  background: linear-gradient(90deg,#ddebff -.28%,#b7d8ff);
  cursor: pointer;
}
.section_banner_wrap {
  width: 1060px; height: 100%;
  display: flex; justify-content: space-between;
  margin: 0 auto;
}
.section_banner_desc {
  display: flex; flex-direction: column;
  justify-content: center;
  font-size: 24px; font-weight: 700;
  line-height: 29px;
  color: #5071dc;
}
.section_banner_btn {
  margin-top: 10px;
  font-size: 14px; font-weight: 700;
  border-radius: 25px;
  background-color: #5071dc;
  width: 119px; height: 36px;
  color: #fff;
  display: flex; justify-content: center; align-items: center;
}
.section_banner_img {
  width: 236px; height: 100%;
  position: relative;
}
.section_banner_img img {
  width: 236px;
  position: absolute; left: 0; top: -10px;
}
.category_select {
  width: 100%;
  padding-top: 40px;
}
.category_select_wrap {
  width: 1060px; margin: 0 auto;
  display: flex;
  position: relative;
}
.jobcategory_lists {
  width: 190px;
  position: absolute; left: 0; top: 40px; z-index: 99;
  padding: 15px 0;
  box-shadow: 0 4px 8px rgb(0 0 0 / 15%);
  background-color: #fff;
  border: 1px solid #e1e2e3; border-radius: 5px;
  display: none;
}
.jobcategory_lists.Active {
  display: block;
}
.jobcategory_list {
  padding: 11px 25px 9px;
  font-size: 16px;
  color: #333333;
  cursor: pointer;
}
.duty_category_lists {
  width: 190px;
  position: absolute; left: 140px; top: 40px; z-index: 99;
  padding: 15px 0;
  box-shadow: 0 4px 8px rgb(0 0 0 / 15%);
  background-color: #fff;
  border: 1px solid #e1e2e3; border-radius: 5px;
  display: none;
}
.duty_category_lists.Active {
  display: block;
}
.category_select_main {
  display: flex; align-items: center;
  cursor: pointer;
}
.category_select_main span {
  padding-top: 3px; margin-right: 15.5px;
  font-size: 24px; font-weight: 700;
  line-height: 29px;
  color: #333;
}
.category_select_main_btn {
  position: relative;
  border: 1px solid #e1e2e3; border-radius: 9999px;
  background-color: #fff;
  width: 26px;
  height: 26px;
  display: flex; justify-content: center;
  transition: border-color 0.3s, transform 0.3s;
}
.category_select_main_btn.Active {
  border-color: #767676;
  transform: rotate(180deg);
}
.category_select_main_btn svg {
  margin-top: 8px;
}
.category_select_sub {
  display: flex; align-items: center;
  cursor: pointer;
}
.category_select_sub span {
  padding-top: 3px; margin-right: 15.5px;
  font-size: 24px; font-weight: 400;
  line-height: 29px;
  color: #333;
}
.category_select_bar {
  background-color: #ececec;
  margin: 3px 24px 3px;
  width: 2px; height: 29px;
}
.category_select_detail {
  padding-top: 3px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: #aaa;
}
.category_select_another {
  width: 100%;
  border-bottom: 1px solid #e1e2e3;
}
.category_select_another.fixed {
  border-bottom: 1px solid #36f;
  position: fixed; left: 0; top: 40px;
  z-index: 1000;
  background-color: white;
}

.category_select_another_wrap {
  width: 1060px; margin: 0 auto;
}
.category_select_another_top {
  padding-top: 30px;
  width: 100%; height: 40px;
  display: flex;
  margin-bottom: 25px;

}
.category_select_another_btn {
  border-radius: 5px;
  border: 1px solid #ececec;
  padding: 0 15px; margin-right: 10px;
  height: 40px;
  display: flex; align-items: center;
}
.category_select_another_btn svg {
  margin-left: 8px;
}
.category_select_another_btn:hover {
  background-color: rgb(247, 247, 247);
}
.category_select_menu {
  margin-right: 15px;
  font-size: 14px; font-weight: 400;
  color: #333;
}
.category_select_choice {
  color: #36f;
  font-size: 14px; font-weight: 600;
}
.category_select_another_bottom {
  border-top: 1px solid #e1e2e3;
  padding: 25px 0;
}
.category_select_bottom_lists {
  display: flex;
}
.category_select_bottom_list {
  padding: 8px 14px;
  margin-right: 8px;
  font-size: 13px;
  color: #333;
  border-radius: 20px;
  background: rgb(242, 251, 245);
}
.company_list_main {
  margin-top: 38px;
}
.company_list_main_wrap {
  width: 1060px; margin: 0 auto;

}
.my_book_mark {
  display: flex; align-items: center;
  margin-bottom: 12px;
}
.my_book_mark svg{
  margin-right: 8px;
}
.my_book_mark span{
  font-size: 15px; font-weight: 600;
  color: #36f;
}
.company_lists {
  width: 1080px; 
  margin: -10px;
  display: flex; flex-wrap: wrap;
}
.company_list {
  width: 250px;
  padding: 10px;
  cursor: pointer;
}
.company_list_img {
  width: 100%; height: 187.5px;
  border-radius: 4px;
  background-color: #111;
  overflow: hidden;
  background-size: cover;
  background-position: 50%;
}
.company_body {
  padding: 14px 0;
}
.company_list_title {
  color: #333;
  font-size: 18px; font-weight: 600;
  line-height: 1.2;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.company_list_name {
  color: #333;
  font-size: 14px; font-weight: 600;
  margin-top: 10px;
}
.company_list_tag {
  border: 1px solid #00aead; border-radius: 2px;
  color: #00aead;
  font-size: 10px;font-weight: 600;
  height: 19px;
  padding: 0 5px; margin-top: 4px;
}
.company_list_location {
  font-size: 14px; font-weight: 400;
  color: #999;
  margin-top: 10px;
}
.company_list_reward {
  font-size: 14px; font-weight: 500;
  margin-top: 10px;
  color: #333;
}
.section_my {
  padding: 60px 0; margin: 0 auto;
  width: 1060px; height: 80px;
}
.section_my_lists {
  width: 100%; height: 100%;
  border-radius: 38.5px;
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
}
.MyInfo_Main {
  width: 100%;
  background-color: #f9f9f9;
}
.MyInfo_Main_wrap {
  width: 1060px;
  margin: 0 auto;
}
.MyInfo_Main_title {
  font-size: 20px;
  font-weight: 700;
  color: #333;
  padding: 50px 0 20px;
}
.MyInfo_Main_body {
  display: flex; justify-content: space-between;
}
.MyInfo_Main_left {
  width: 250px;
}
.MyInfo_Main_left_main {
  width: 100%;
  background-color: white;
  border: 1px solid #e1e2e3; border-radius: 5px;
}
.MyInfo_Main_left_info {
  padding: 42px 20px 30px;
  text-align: center;
}
.MyInfo_Main_left_info_img {
  width: 77px; height: 77px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 auto;
}
.MyInfo_Main_left_info_name {
  padding-top: 30px;
  font-size: 18px; font-weight: 700;
  line-height: 19px;
}
.MyInfo_Main_left_info_email {
  padding-top: 20px;
  color: #767676;
  font-size: 14px;
}
.MyInfo_Main_left_info_phone {
  padding-top: 8px;
  color: #767676;
  font-size: 14px;
}
.MyInfo_Main_left_point {
  width: 210px;
  border-top: 1px solid #e1e2e3;
  border-bottom: 1px solid #e1e2e3;
  padding: 30px 20px;
  display: flex; justify-content: space-between;
  cursor: pointer;
}
.MyInfo_Main_left_menu {
  font-size: 16px; font-weight: 500;
  color: #444444;
}
.MyInfo_Main_left_desc {
  font-size: 18px; font-weight: 700;
  line-height: 19px;
}
.MyInfo_Main_left_match_lists {
  padding: 30px 20px;
  width: 210px;
}
.MyInfo_Main_left_match_list {
  width: 100%;
  padding-bottom: 20px;
  display: flex; justify-content: space-between;
  cursor: pointer;
}
.MyInfo_Main_left_match_list:last-child {
  padding-bottom: 0;
}
.MyInfo_Main_left_account_set {
  width: 210px;
  border-top: 1px solid #e1e2e3;
  padding: 30px 20px;
  cursor: pointer;
}
.MyInfo_Main_right {
  width: 790px;
  margin-bottom: 70px;
}
.MyInfo_Main_section {
  width: 790px;
  padding: 26px 0 30px; margin-bottom: 20px;
  background-color: white;
  border: 1px solid #e1e2e3; border-radius: 5px;
}
.MyInfo_Main_section_title {
  font-size: 18px; font-weight: 700;
  padding: 0 30px;
  color: #333333;
  padding-bottom: 26px;
}
.MyInfo_Main_section_employ_lists {
  display: flex; height: 66px;
}
.MyInfo_Main_section_employ_list {
  width: 197px; height: 100%;
  text-align: center;
  border-right: 1px solid #e1e2e3;
}
.MyInfo_Main_section_employ_list:last-child {
  border: none;
}
.MyInfo_Main_section_employ_list_desc {
  height: 36px;
  font-size: 36px; font-weight: 400;
  color: #333333; line-height: 1;
  padding-bottom: 11px;
}
.MyInfo_Main_section_employ_list_title {
  font-size: 16px; line-height: 19px;
  color: #333333;
}
.MyInfo_Main_section_profile {
  padding: 30px 29px 25px 30px;
  margin: 0 30px;
  background: rgba(239,241,251,.44);
  border-radius: 5px;
  text-align: center;
}
.MyInfo_Main_section_profile_title {
  font-size: 18px;
  font-weight: 700;
  color: #333;
}
.MyInfo_Main_section_profile_desc {
  margin: 20px 10px 10px 0;
  background: #ececec;
  border-radius: 5px;
  width: 659px;
  height: 10px;
  position: relative;
}
.MyInfo_Main_section_profile_level {
  position: absolute; left: 0; top: 0;
  height: 10px;
  border-radius: 5px 0 0 5px;
  background-image: linear-gradient(90deg,#94afff,#7b9cff 34%,#547fff 100%,#334dff 165%,#4e5bfd 231%);
}
.MyInfo_Main_section_profile_bar {
  position: absolute; left: 0; top: 0;
  width: 100%; height: 100%;
  display: flex;
}
.MyInfo_Main_section_profile_bar li {
  width: 2px; height: 10px;
  margin-left: calc(100% / 7 - 2px);
  background-color: #fefefe;
}
.MyInfo_Main_section_profile_bar li:last-child {
  display: none;
}
.MyInfo_Main_section_profile_bar_text {
  display: flex;
  width: 100%;
}
.MyInfo_Main_section_profile_bar_text li {
  width: 28%;
  font-size: 12px;
  color: #999;
  text-align: right;
  margin-left: 4%;
}
.MyInfo_Main_section_profile_bar_text li:first-child {
  width: 13.5%;
}
.MyInfo_Main_section_profile_comment {
  text-align: center;
  font-size: 16px; font-weight: 400;
  color: #333; margin: 30px 30px 0;
}
.MyInfo_Main_section_profile_btn_wrap {
  text-align: center;
  margin-top: 16px;
}
.MyInfo_Main_section_profile_btn {
  padding: 2px 24px 0;
  height: 48px;
  font-size: 16px; font-weight: 700;
  line-height: 1.1;
  color: #36f;
  background-color: #fff;
  border: 1px solid #36f; border-radius: 25px;
}
.MyInfo_Main_section_bar {
  width: 750px; height: 61px;
  border-radius: 3px;
  margin-bottom: 20px; padding: 24px 20px;
  background: linear-gradient(90deg,#ddebff -.28%,#b7d8ff);
  cursor: pointer;
  display: flex; justify-content: space-between; align-items: center;
}
.MyInfo_Main_section_bar_comment span {
  font-size: 20px; font-weight: 400;
  color: #3a60d9;
  margin-bottom: 10px;
  display: block;
}
.MyInfo_Main_section_bar_comment div {
  font-size: 17px; font-weight: 700;
  color: #3a60d9;
}
.MyInfo_Main_section_bar_comment button {
  font-size: 18px; font-weight: 700;
  display: block;
  background-color: #5071dc;
  color: #fff; padding: 0 20px;
  font-size: 13px; font-weight: 700;
  height: 32px; border-radius: 25px;
  margin-top: 10px;
}
.MyInfo_Main_section_bar_img {
  width: 352px; height: 103px;
  position: relative;
}
.MyInfo_Main_section_bar_img img{
  height: 100%;
  position: absolute; right: 10px; top: -5px;
}
.MyInfo_Main_section_list {
  border-top: 1px solid #e1e2e3;
  padding: 26px 0 30px;
}
.MyInfo_Main_section_list:first-child {
  border: none;
  padding-top: 0;
}
.MyInfo_Main_section_company {
  padding: 0 30px;
  width: 730px;
}
.MyInfo_Main_section_company_lists {
  display: flex; width: 750px;
  margin: -10px;
}
.MyInfo_Main_section_company_list {
  width: calc(100% / 4);
  padding: 10px
}
.MyInfo_Main_section_company_img {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px; width: 100%; height: 125px;
}
.MyInfo_Main_section_text {
  padding: 0 30px 20px;
  font-size: 16px;
  line-height: 1.56;
  color: #424242;
}
.MyInfo_Main_section_text span {
  font-weight: bold;
}
.MyInfo_Main_section_btn_wrap {
  display: flex; justify-content: right;
  padding: 0 30px;
}
.MyInfo_Main_section_btn {
  width: 230px; height: 40px;
  font-size: 15px; font-weight: 700;
  color: #36f;
  background-color: #fff;
  border: 1px solid #36f; border-radius: 25px;
}
.MyInfo_Main_section_school_company_wrap {
  width: 728px; padding: 0 30px; margin-top: 13px;
}
.MyInfo_Main_section_input {
  padding: 15px 0;
}
.MyInfo_Main_section_input label {
  padding-right: 118px;
  color: #999;
  font-size: 16px;
}
.MyInfo_Main_section_input button {
  width: calc(100% - 150px);
  text-align: left;
  padding: 12px 0;
  color: #ccc;
  font-size: 16px; font-weight: 400;
  border-bottom: 1px solid #e1e2e3;
  position: relative;
  cursor: pointer;
}
.MyInfo_Main_section_input button::after {
  position: absolute; right: 0; top: 30%;
  content: "›";
  width: 24px; height: 25px;
  color: #999;
  font-size: 24px;
}
.MyInfo_Main_section_company_tenure_wrap {
  margin: 5px 0 25px;
  padding-left: 150px;
}
.MyInfo_Main_section_company_tenure {
  font-size: 14px; font-weight: 400;
  display: inline-block;
}
.MyInfo_Main_section_company_tenure select {
  color: #ccc;
}
.MyInfo_Main_section_company_tenure select option {
  color: #333;
}
.MyInfo_Main_section_company_tenure span {
  margin: 0 10px;
}
.MyInfo_Main_section_company_now {
  margin-top: 14px;
  font-size: 14px;font-weight: 400;
  color: #999;
}
.MyInfo_Main_section_company_now input {
  width: 13px; height: 13px;
  appearance: auto;
  margin: 4px 5px 0 0;
}
.MyInfo_Main_section_textarea {
  margin-top: 15px;
  padding: 0 30px;
}
.MyInfo_Main_section_textarea_title {
  font-size: 16px; font-weight: 400;
  color: #999;
  margin-bottom: 11px;
}
.MyInfo_Main_section_textarea_comment {
  font-size: 14px; font-weight: 400;
  line-height: 1.57;
  color: #ccc;
  margin-bottom: 17px;
}
.MyInfo_Main_section_textarea textarea {
  width: 688px; height: 192px;
  border: 1px solid #e1e2e3; border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px; font-weight: 400;
  line-height: 1.63; color: #333;
  resize: none; outline: none;
}
.MyInfo_Main_footer {
  width: 100%;
  background: #fff;
  border-top: 1px solid #e1e2e3;
  padding: 15px 0;
  position: fixed; left: 0; bottom: 0;
}
.MyInfo_Main_footer_wrap {
  width: 1060px;
  margin: 0 auto;
  text-align: right;
}
.MyInfo_Main_footer_wrap button {
  width: 190px; height: 50px;
  border-radius: 3px;
  font-size: 17px; font-weight: 600;
  margin-left: 20px;
}
.MyInfo_Main_footer_set {
  background: #fff;
  border: 1px solid #e1e2e3;
  color: #333;
  position: relative;
}
.MyInfo_Main_footer_set::after {
  position: absolute; left: 10%;top: 18%;
  content: "‹";
  font-size: 25px;
  margin-right: 15px;
}
.MyInfo_Main_footer_complete {
  background-color: #ccc;
  color: #fff;
}
.company_detail_wrap {
  width: 100%;
  display: flex; justify-content: space-between;
}
.company_detail_left {
  width: calc(100% - 360px);
}
.company_detail_right {
  width: 340px;
}
.company_detail_right_box {
  border: 1px solid #e1e2e3; border-radius: 3px;
  background-color: #fff;
  padding: 24px 20px;
  position: sticky; top: 75px;
}
.company_detail_box_title {
  font-size: 15px; font-weight: 600;
  color: #333;
}
.company_detail_box_lists {
  display: flex; align-items: center;
  margin: 24px 0;
}
.company_detail_box_list {
  width: 50%;
}
.company_detail_box_list_title {
  font-size: 14px;font-weight: 600;
  color: #999;
  margin-bottom: 8px;
}
.company_detail_box_list_desc {
  font-size: 15px; font-weight: 600;
  color: #333;
}
.company_img_lists_box {
  width: 700px; height: 504px;
  background-color: #333;
}
.company_employ_title_wrap {
  margin: 40px 0 30px;
}
.company_employ_title {
  color: #333;
  font-size: 22px; font-weight: 600;
  margin: 0 0 10px;
}
.company_employ_sub_wrap {
  display: flex; align-items: center;
}
.company_employ_sub_companyname {
  color: #333; margin-right: 10px;
  font-size: 14px; font-weight: 600;
}
.company_employ_sub_location {
  margin-left: 10px; padding: 0 10px;
  color: #999;
  border-left: 1px solid #e1e2e3;
  font-size: 14px;
}
.company_employ_sub_tag_lists {
  margin-top: 20px;
}
.company_employ_sub_tag_list {
  display: inline-block;
  margin: 0 6px 10px 0; padding: 9px 14px;
  font-size: 12px; font-weight: 500;
  line-height: 1;
  color: #333;
  background-color: #f3f5f8;
  border-radius: 25px;
}
.actively_employ_company_wrap {
  width: 1060px;
  margin: 20px 0 40px;
}
.actively_employ_company_title {
  font-size: 22px; font-weight: 600;
  color: #333;
  margin-bottom: 14px;
}
.actively_employ_company_lists {
  width: 1080px; margin: 0 -10px;
  display: flex;
}
.actively_employ_company_list {
  width: 20%; height: 271px;
  margin: 0 10px;
  border: 1px solid #e1e2e3; border-radius: 3px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.actively_employ_company_img {
  height: 50%; width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.actively_employ_company_logo {
  position: absolute; top: calc(50% - 25px); left: 16px;
  width: 50px; height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  background-position: 50%;
  border: 1px solid #efefef;
}
.actively_employ_company_name {
  margin: 38px 16px 4px;
  font-size: 16px; font-weight: 600;
  letter-spacing: -.3px;
  color: #333;
  line-height: 1.2;
}
.actively_employ_company_position {
  margin: 6px 16px 0;
  font-size: 14px;font-weight: 400;
  letter-spacing: -.2px;
  color: #999;
}
.company_employ_desc {
  color: #333;
  font-size: 16px; font-weight: 400;
  line-height: 1.75;
  margin: 40px 0;
}
.company_employ_skill_title {
  margin: 20px 0 0; color: #333;
  font-size: 16px; font-weight: 600;
}
.company_employ_skill_lists {
  display: flex; align-items: center;
  margin-top: 5px;
}
.company_employ_skill_list {
  background-color: #e4f4ec;
  border-radius: 20px;
  padding: 9px 14px;
  font-size: 12px; font-weight: 600;
  line-height: 14.4px;
  color: #333;
  margin-right: 5px;
}
.company_employ_location {
  padding: 20px 0 40px;
  border-top: 1px solid #eee;
}
.company_employ_location_list {
  margin-bottom: 20px;
}
.company_employ_location_menu {
  color: #999;
  width: 80px;
  font-size: 16px; font-weight: 600;
  display: inline-block;
}
.company_employ_location_desc {
  color: #333;
  width: calc(100% - 80px);
  display: inline-block;
  font-size: 16px; font-weight: 600;
}
.company_employ_introduce_wrap {
  border-radius: 3px;
  border: 1px solid #e1e2e3;
  padding: 20px; margin-top: 80px;
  display: flex; align-items: center; justify-content: space-between;
}
.company_employ_introduce {
  display: flex; align-items: center;
}
.company_employ_introduce_logo {
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px; height: 50px;
  margin-right: 15px;
}
.company_employ_introduce_name {
  color: #333;
  font-size: 15px; font-weight: 600;
  margin: 0 0 5px;
}
.company_employ_introduce_sub {
  color: #999;
  font-size: 15px; font-weight: 600;
}