@charset "utf-8";

/* 공통 */
@import url("/src/css/common.css");
/* 헤더 */
@import url("/src/css/header.css");
/* 푸터 */
@import url("/src/css/footer.css");


/* 슬라이드 */
@import url("/src/css/slide.css");
/* 섹션 */
@import url("/src/css/section.css");
/* 섹션 버튼 */
@import url("/src/css/section_btn.css");
/* 크리에이터 */
@import url("/src/css/creator.css");

/* ----------------------------------------------------------- */
.main_page {
  padding-top: 25px;
}
.employment_lists {
  border: 1px solid #ececec; border-radius: 4px;
  color: #333;
  display: flex;
}
.employment_list {
  border-right: 1px solid #ececec;
  width: 25%; height: 100px;
}
.employment_list:last-child {
  border-right: none
}
.section_bar {
  width: 1060px; height: 1px;
  background-color: #ececec; margin: 0 auto;
}
.subscribe_promotion {
  width: 100%; height: 158px;
  padding: 60px 0;
  background-color: #f7f7f7;
}
.subscribe_promotion_wrap {
  width: 1060px;
  display: flex;
  justify-content: space-between; align-items: center;
  margin: 0 auto;
}
.subscribe_promotion_title {
  font-size: 30px; font-weight: 700;
  line-height: 1.42857143;
  color: #333333;
  display: flex; align-items: center;
}
.subscribe_promotion_title_svg {
  margin: 8px 4px 0 0;
}
.subscribe_promotion_title_svg svg {
  width: 160px; height: 31px;
}
.subscribe_promotion_comment {
  font-size: 14px;
    line-height: 1.42857143;
  color: #333333;
}
.subscribe_promotion_btn {
  width: 260px; height: 50px;
  margin-top: 25px; padding: 0 27px;
  color: #fff;
  background-color: #36f;
  border: none; border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}
.recommend_position_wrap {
  padding: 60px 0; width: 100%;
  background: #f4f8fb;
  background-image: url("https://wanted-dev.static.wanted.co.kr/banner/Jobsfeed_ai_banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.recommend_position_logo_wrap {
  padding-bottom: 40px;
  display: flex; justify-content: center;
  align-items: center;
}
.recommend_position_logo_img {
  width: 80px; height: 80px;
  position: relative;
  overflow: hidden;
}
.recommend_position_logo_img img {
  position: absolute; left: -35%; top: -45%;
  height: 139px;
}
.recommend_position_desc_img {
  width: 170px; height: 27px;
  margin-left: 20px;
}
.recommend_position__comment_wrap {
  display: flex; justify-content: center;
  margin-bottom: 10px;

  font-size: 22px;font-weight: 700;
  line-height: 1.05; color: #111;
}
.recommend_position__comment_sub {
  text-align: center;
  color: #555;
  font-size: 15px; font-weight: 500;
  line-height: 19.2px;
  margin-bottom: 20px;
}
.recommend_position__comment_btn {
  display: flex; justify-content: center;
}
.recommend_position__comment_btn button {
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #36f;
  font-size: 16px;
  font-weight: 700;
  color: #fefefe;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}
.section_banner {
  width: 100%;
  margin: 20px 0 60px;
  height: 150px;
  background: linear-gradient(90deg,#ddebff -.28%,#b7d8ff);
  cursor: pointer;
}
.section_banner_wrap {
  width: 1060px; height: 100%;
  display: flex; justify-content: space-between;
  margin: 0 auto;
}
.section_banner_desc {
  display: flex; flex-direction: column;
  justify-content: center;
  font-size: 24px; font-weight: 700;
  line-height: 29px;
  color: #5071dc;
}
.section_banner_btn {
  margin-top: 10px;
  font-size: 14px; font-weight: 700;
  border-radius: 25px;
  background-color: #5071dc;
  width: 119px; height: 36px;
  color: #fff;
  display: flex; justify-content: center; align-items: center;
}
.section_banner_img {
  width: 236px; height: 100%;
  position: relative;
}
.section_banner_img img {
  width: 236px;
  position: absolute; left: 0; top: -10px;
}
.category_select {
  width: 100%;
  padding-top: 40px;
}
.category_select_wrap {
  width: 1060px; margin: 0 auto;
  display: flex;
}
.category_select_main {
  display: flex; align-items: center;
  cursor: pointer;
}
.category_select_main span {
  padding-top: 3px; margin-right: 15.5px;
  font-size: 24px; font-weight: 700;
  line-height: 29px;
  color: #333;
}
.category_select_main_btn {
  position: relative;
  border: 1px solid #e1e2e3; border-radius: 9999px;
  background-color: #fff;
  width: 26px;
  height: 26px;
  display: flex; justify-content: center;
}
.category_select_main_btn svg {
  margin-top: 8px;
}
.category_select_bar {
  background-color: #ececec;
  margin: 3px 24px 3px;
  width: 2px; height: 29px;
}
.category_select_detail {
  padding-top: 3px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: #aaa;
}
.category_select_another {
  width: 100%;
  border-bottom: 1px solid #e1e2e3;
}
.category_select_another.fixed {
  border-bottom: 1px solid #36f;
  position: fixed; left: 0; top: 40px;
  z-index: 1000;
  background-color: white;
}

.category_select_another_wrap {
  width: 1060px; margin: 0 auto;
}
.category_select_another_top {
  padding-top: 30px;
  width: 100%; height: 40px;
  display: flex;
  margin-bottom: 25px;

}
.category_select_another_btn {
  border-radius: 5px;
  border: 1px solid #ececec;
  padding: 0 15px; margin-right: 10px;
  height: 40px;
  display: flex; align-items: center;
}
.category_select_another_btn svg {
  margin-left: 8px;
}
.category_select_another_btn:hover {
  background-color: rgb(247, 247, 247);
}
.category_select_menu {
  margin-right: 15px;
  font-size: 14px; font-weight: 400;
  color: #333;
}
.category_select_choice {
  color: #36f;
  font-size: 14px; font-weight: 600;
}
.category_select_another_bottom {
  border-top: 1px solid #e1e2e3;
  padding: 25px 0;
}
.category_select_bottom_lists {
  display: flex;
}
.category_select_bottom_list {
  padding: 8px 14px;
  margin-right: 8px;
  font-size: 13px;
  color: #333;
  border-radius: 20px;
  background: rgb(242, 251, 245);
}
.company_list_main {
  margin-top: 38px;
}
.company_list_main_wrap {
  width: 1060px; margin: 0 auto;

}
.my_book_mark {
  display: flex; align-items: center;
  margin-bottom: 12px;
}
.my_book_mark svg{
  margin-right: 8px;
}
.my_book_mark span{
  font-size: 15px; font-weight: 600;
  color: #36f;
}
.company_lists {
  width: 1080px; 
  margin: -10px;
  display: flex; flex-wrap: wrap;
}
.company_list {
  width: 250px;
  padding: 10px;
  cursor: pointer;
}
.company_list_img {
  width: 100%; height: 187.5px;
  border-radius: 4px;
  background-color: #111;
  overflow: hidden;
  background-size: cover;
  background-position: 50%;
}
.company_body {
  padding: 14px 0;
}
.company_list_title {
  color: #333;
  font-size: 18px; font-weight: 600;
  line-height: 1.2;
}
.company_list_name {
  color: #333;
  font-size: 14px; font-weight: 600;
  margin-top: 10px;
}
.company_list_tag {
  border: 1px solid #00aead; border-radius: 2px;
  color: #00aead;
  font-size: 10px;font-weight: 600;
  height: 19px;
  padding: 0 5px; margin-top: 4px;
}
.company_list_location {
  font-size: 14px; font-weight: 400;
  color: #999;
  margin-top: 10px;
}
.company_list_reward {
  font-size: 14px; font-weight: 500;
  margin-top: 10px;
  color: #333;
}
.section_my {
  padding: 60px 0; margin: 0 auto;
  width: 1060px; height: 80px;
}
.section_my_lists {
  width: 100%; height: 100%;
  border-radius: 38.5px;
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
}
.MyInfo_Main {
  width: 100%;
  background-color: #f9f9f9;

}
.MyInfo_Main_wrap {
  width: 1060px;
  margin: 0 auto;
}
.MyInfo_Main_title {
  font-size: 20px;
  font-weight: 700;
  color: #333;
  padding: 50px 0 20px;
}
.MyInfo_Main_left {
  width: 250px;
}
.MyInfo_Main_left_main {
  width: 100%;
  background-color: white;
  border: 1px solid #e1e2e3; border-radius: 5px;
}
.MyInfo_Main_left_info {
  padding: 42px 20px 30px;
  text-align: center;
}
.MyInfo_Main_left_info_img {
  width: 77px; height: 77px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 auto;
}
.MyInfo_Main_left_info_name {
  padding-top: 30px;
  font-size: 18px; font-weight: 700;
  line-height: 19px;
}
.MyInfo_Main_left_info_email {
  padding-top: 20px;
  color: #767676;
  font-size: 14px;
}
.MyInfo_Main_left_info_phone {
  padding-top: 8px;
  color: #767676;
  font-size: 14px;
}